.axisX{
    font-size: 30pt;
}
.axisY{
    font-size: 30pt;
}
.axis{
    font-size: 30pt;
}
circle{
    fill-opacity: .7;
}
.title{
    font-size: 50pt;
    font-family: sans-serif;
    text-anchor: middle;
    color: black;
    'z-index': 1001;
}
.label{
    font-size: 30pt;
    font-family: sans-serif;
    text-anchor: middle;
    'z-index': 1001;
}
.bars{
    fill-opacity: .7;
}
.legend{
    text-anchor: middle;
    font-size: 20pt;
    font-family: sans-serif;
}
.selected{
    stroke: black;
    stroke-width: 3px;
    fill-opacity: 1;
}